/*Global Attribute*/
html {
	background-color: black;
	color: white;
	font-family: Verdana, "san-serif";
	text-align: center;
}

/*Heading 1*/
h1 {
	font-size: 50px;
	text-align: center;
	font-weight: 300;
}

/*Heading 2*/
h2 {
	font-weight: 300;
	font-size: 42px;
}

/*Links*/
a {
	color: aquamarine;
	font-size: 16px;
}

/*Body*/
.tagline {
	font-size: 21px;
	color: gray;
}

/*Footer*/

.productName {
	text-align: right;
	color: gray;
	font-size: 21px;
}

/*Media*/
.phone {
	padding-top: 2%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.camp {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

